<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{{subject}}</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
  <table align="center" width="100%" style="max-width: 600px; background-color: #ffffff; border-radius: 8px; overflow: hidden;">
    <tr>
      <td style="background-color: #f8f8f8; text-align: center; padding: 40px 20px;">
        <img src="https://raw.githubusercontent.com/Ulin-29/email-assets/refs/heads/main/Logo.png" alt="Logo" width="150" />
      </td>
    </tr>
    <tr>
      <td style="padding: 40px 20px; text-align: left;">
        <h2 style="color: #333; margin-bottom: 30px;">{{title}}</h2>

        <p style="font-size: 16px; color: #555; margin-bottom: 20px; line-height: 1.6;">
          Kami ingin menginformasikan bahwa password akun Anda telah berhasil diubah.
        </p>

        <!-- Waktu Perubahan -->
        <table>
          <tr>
            <td style="padding: 12px 0; font-size: 16px; color: #555; font-weight: bold;">
              <span style="margin-left: 4px;">⏰ Waktu :</span> {{ change_time }}
            </td>
          </tr>
        </table>

        <p style="font-size: 16px; color: #555; margin-bottom: 30px; line-height: 1.6;">
          Perubahan ini memastikan akun Anda tetap aman dan terlindungi.  
          Jika Anda yang melakukan perubahan ini, Anda dapat mengabaikan email ini.  
          Simpan password baru Anda di tempat yang aman dan jangan membagikannya kepada siapa pun.
        </p>

        <p style="font-size: 14px; color: #777; margin-top: 30px; line-height: 1.6;">
          Terima kasih telah menggunakan layanan kami. Kami berkomitmen untuk selalu memberikan pengalaman terbaik untuk Anda.
        </p>
      </td>
    </tr>
  </table>
</body>
</html>
